@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonteDestaque: 'Passion One', cursive;
    --fonteCursiva: 'Sriracha', cursive;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fontePadrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonteDestaque);
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonteCursiva);
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(75, 75, 75);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}